# A

## Teoría

1. b
2. a
3. Primera forma normal.
4. Los dos hacen filtros pero `HAVING` lo hace sobre grupos después del `GROUP BY`.
5. c

## Práctica
1.

```SQL
SELECT 
    nombre_materia, 
    AVG(calificacion) AS promedio_calificacion
FROM 
    calificaciones
WHERE 
    calificacion IS NOT NULL
GROUP BY 
    nombre_materia
ORDER BY 
    promedio_calificacion DESC;
```

2.

```SQL
SELECT 
    DISTINCT a.nombre, 
    a.apellido
FROM 
    alumnos AS a
INNER JOIN 
    calificaciones AS c 
USING(expediente)
ORDER BY 
    a.apellido;
```

3.

```SQL
SELECT 
    a.nombre, 
    a.apellido, 
    MAX(c.calificacion) AS calificacion_maxima
FROM 
    alumnos AS a
LEFT JOIN 
	calificaciones AS c 
ON 
	a.expediente = c.expediente
WHERE 
	c.calificacion IS NOT NULL
GROUP BY 
	a.expediente, a.nombre, a.apellido;
```

# B

## Teoría

1. a
2. Los dos hacen filtros pero `HAVING` lo hace sobre grupos después del `GROUP BY`.
3. c
4. a

## Práctica
1.

```SQL
SELECT
	AVG(edad) edad_promedio
FROM
	alumnos
WHERE
	apellido LIKE '%ez';
```

2.

```SQL
SELECT 
    a.nombre, 
    a.apellido, 
    MAX(c.calificacion) AS calificacion_maxima
FROM 
    alumnos AS a
LEFT JOIN 
	calificaciones AS c 
ON 
	a.expediente = c.expediente
WHERE 
	c.calificacion IS NOT NULL
GROUP BY 
	a.expediente, a.nombre, a.apellido;
```

3.

```SQL
SELECT 
	a.nombre, 
	a.apellido, 
	c.nombre_materia, 
	c.calificacion
FROM 
	calificaciones AS c
INNER JOIN 
	alumnos AS a 
USING(expediente)
WHERE c.calificacion > (
    SELECT AVG(calificacion)
    FROM calificaciones
    WHERE calificacion IS NOT NULL
);
```

# C

## Teoría

1. Las claves primarias son únicas por tabla, esto para identificar así cada registro. Las claves foráneas sirven para relacionar las tablas entre sí.
2. a
3. c
4. Se agrega un directorio llamado `obj` al área de preparación.
5. d

## Práctica
1.

```SQL
SELECT
	AVG(edad) edad_promedio
FROM
	alumnos
WHERE
	apellido LIKE '%ez';
```

2.

```SQL
SELECT
	c.nombre_materia,
	COUNT(a.expediente) AS num
FROM
	alumnos AS a
INNER JOIN 
	calificaciones AS c
USING(expediente)
WHERE edad > 20
GROUP BY nombre_materia
ORDER BY num DESC;
```

3.

```SQL
SELECT
	nombre,
	SUM(calificacion) AS suma_calif
FROM 
	alumnos
INNER JOIN
	calificaciones
USING(expediente)
WHERE 
	nombre_materia = 'Matemáticas' AND calificacion IS NOT NULL
GROUP BY nombre
ORDER BY calificacion DESC
LIMIT 1 OFFSET 1;
```